<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enlace para tu Clase en UTEC++</title>
</head>
<body>
<h1>¡Nueva Clase Programada!</h1>
<p>Curso: <strong th:text="${courseName}"></strong></p>
<p>Fecha y Hora: <strong th:text="${meetingDate}"></strong></p>
<p>Enlace para unirse: <a th:href="${zoomLink}">Haz click aquí para unirte</a></p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/UTEC-Logo.jpg/1200px-UTEC-Logo.jpg" alt="UTEC Logo" width="200">
</body>
</html>
